{% block js %}
    {% autoescape 'js' %}
      <script>
        $(document).ready(function () {
          $.presetManagerPlugin.init({
            region: '{{ settings.lang }}',
            adminEmail: '{{ email }}',
            presetList: {},
            logo: {
              cdnvideo: '/images/cdnvideo.svg',
              wowza: '/images/wowza.png',
              youtube: '/images/youtube.png'
            },
            locale: {
              streaming: "{{ site._("Streaming") }}",
              presetList: "{{ site._("Configurations") }}",
              publishFromCDNvideoTitle: "{{ site._("CDNvideo Cloud Streaming") }}",
              publishFromCDNvideoDesc: "{{ site._("The service for content delivery and streaming management. We will automatically create an account and set up everything for you. Please note that streaming  service is provided according to the terms of use and plans of CDNvideo service.") }}",
              otherServiceTitle: "{{ site._("Streaming via third party services and products") }}",
              otherServiceDesc: "{{ site._("We have prepared several templates to manage streaming through other popular solutions. Please select the option you need and follow the instructions.") }}",
              manualSettingsTitle: "{{ site._("Manual Configuration") }}",
              manualSettingsDesc: "{{ site._("If you are not afraid of RTSP Push or RTSP Pull abbreviations, then follow this way. The whole streaming configuration process is in your hands.") }}",
              autoSetting: "{{ site._("Automatic Setup") }}",
              createCDNvideoAccount: "{{ site._("Create a new account automatically") }}",
              existCDNvideoAccount: "{{ site._("Or sign in if you already have an account") }}",
              login: "{{ site._("Login") }}",
              password: "{{ site._("Password") }}",
              textTune: "{{ site._("Configure") }}",
              textAddConfig: "{{ site._("Add preset") }}",
              textShowAddSettings: "{{ site._("Show advanced settings") }}",
              textHideAddSettings: "{{ site._("Hide advanced settings") }}",
              btnCreate: "{{ site._("Create") }}",
              btnBack: "{{ site._("&#8592;&nbsp;Back") }}",
              btnDelete: "{{ site._("Delete") }}",
              btnCancel: "{{ site._("Cancel") }}",
              btnSave: "{{ site._("Save") }}",
              btnAddPreset: "{{ site._("Add a configuration") }}",
              textServiceStream: "{{ site._("Streaming server:") }}",
              textInstruction: "{{ site._("Follow our guide") }}",
              textOnlyInConfPage: "{{ site._("RTSP Pull streaming should be configured manually for every conference.") }}",
              textPullOnlyInConfPage: "{{ site._("RTSP Pull streaming should be configured manually for every conference. You can set advanced settings here.") }}",
              textCopyLink: "{{ site._("Copy stream URL:") }}",
              entryHostServer: "{{ site._("Enter Host-Server") }}",
              entryHostPort: "{{ site._("Enter Host-Port") }}",
              entryApplication: "{{ site._("Enter Application") }}",
              entryStreamName: "{{ site._("Enter Stream Name") }}",
              entryLogin: "{{ site._("Enter Login") }}",
              entryPassword: "{{ site._("Enter Password") }}",
              entryPublishUrl: "{{ site._("Enter Publish URL") }}",
              manualPush: "{{ site._("Manual setting - Publish") }}",
              manualPull: "{{ site._("Manual setting - Pull") }}",
              videoCodec: "{{ site._("Video codec:") }}",
              audioCodec: "{{ site._("Audio codec:") }}",
              rtpOverTcp: "{{ site._("Send outgoing RTP streams over TCP") }}",
              inactiveReceiverTimeout: "{{ site._("Server response time:") }}",
              retries: "{{ site._("Retries:") }}",
              retryDelay: "{{ site._("Retry delay:") }}",
              titleCreateNewConfig: "{{ site._("Create a new configuration") }}",
              emailEntryCDN: "{{ site._("This email is used to create CDNvideo service account.") }}",
              textCDNvideoAgree: "{{ site._('By clicking on the "Create" button, you agree to [a]Pricing and Terms of Service[/a]')|replace({'[a]': '<a href="%url" target="_blank" rel="noopener">', '[/a]': '</a>'})|replace({'%url': company_site_url ~ '/tcs/partner/cdnvideo?lang='~settings.lang~'&version='~server_version }) }}",
              errorField: "{{ site._("Invalid <b>%s</b> format") }}",
              textConfiguration: "{{ site._("Configuration") }}",
              textConfigurationAlreadyExists: "{{ site._("A configuration with this name already exists") }}",
              textEmptyList: "{{ site._("Empty preset list") }}",
              selectedPreset: "{{ site._("Selected configuration is ") }}",
              textTurnOn: "{{ site._("Turn on") }}",
              btnDisable: "{{ site._("Turn the streaming off") }}",
              btnApply: "{{ site._("Apply") }}",
              textChangeCnf: "{{ site._("Change configuration settings") }}",
              titleSelectConfig: "{{ site._("Choose streaming configuration") }}",
              addNewConfig: "{{ site._("Add a new configuration") }}",
              textStreamConfig: "{{ site._("Streaming configuration:") }}",
              authentication: "{{ site._("Authentication") }}",
              templateName: "{{ site._("Template Name") }}",
              textWowzaServerHelp: "{{ site._("In Wowza web manager Stream Name will match conference ID") }}",
              textWowzaCloudHelp: "{{ site._("This streaming template can be applied only for one of the conferences running simultaneously.") }}",
              textNotAvailablePlayerCode: "{{ site._("HTML player code will become available after you create the conference") }}",
              usePlayerCode: "{{ site._("Use the following player code to start streaming on your website") }}",
              CDNvideoPlayerBlock: "{{ site._("HTML player code") }}",
              question: "{{ site._("Question") }}",
              modalTitle: "{{ site._("Warning!") }}",
              btnClose: "{{ site._("Close") }}",
              textCopyStreamLink: "{{ site._("Copy stream URL:") }}",
              presetWillBeDeleted: "{{ site._("Are you sure you want to <b>remove</b> this template?") }}",
              textStreamingConfiguration: "{{ site._("Streaming configuration:") }}",
              outsideBroadcasting: "{{ site._("Stream on the external conference webpage") }}",
              CDNvideoIframe: "{{ site._("HTML embed code") }}",
              serverUrl: "{{ site._("Server URL") }}",
              streamKey: "{{ site._("Stream name/key") }}"
            },
            wowzaInstructionLink: "{{ company_site_url }}/tcs/manual/wowza-streaming/?lang={{ settings.lang }}&version={{ server_version }}",
            youtubeInstructionLink: "{{ company_site_url }}/tcs/manual/youtube-streaming/?lang={{ settings.lang }}&version={{ server_version }}",
          });
        });
      </script>
    {% endautoescape %}
    <link href="/public/css/presetManager.css?version={{ current_version }}" rel="stylesheet" type="text/css"/>
{% endblock %}

